.appFont {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.menuButton{
    -fx-background-color:  transparent;
    -fx-background-radius: 50px;
    -fx-padding: 4px 8px 4px 8px;

}
.menuButton:hover{
    -fx-background-color:  #242324;
}

.strandedAwayIcon {
    -fx-background-image: url("images/gameIcons/StrandedAwayIcon.png");
    -fx-background-size: cover, auto;
    -fx-background-position: center center;
}
.strandedAwayIcon:hover {
    -fx-background-image: url("images/gameIcons/StrandedAwayIconOutline.png");
}

.dogeIcon {
    -fx-background-image: url("images/gameIcons/DogeIcon.png");
    -fx-background-size: cover, auto;
    -fx-background-position: center center;
}
.dogeIcon:hover {
    -fx-background-image: url("images/gameIcons/DogeIconOutline.png");
}

.gameCover {
    -fx-background-image: url("images/carousel/1.png");
    -fx-background-size: cover, auto;
    -fx-background-position: center center;
}

.gameTitle {
    -fx-background-image: url("images/gameTitles/StrandedAwayTitle.png");
    -fx-background-size: contain;
    -fx-background-position: top center;
    -fx-background-repeat: no-repeat;
}

.fadeCover {
    -fx-background-color:
        linear-gradient(to bottom,
        transparent,
        #0f1119 75%,
        #0f1119
    );
}

.rating {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 16px;
}

.ratingT {
    -fx-background-image: url("images/ratings/t.png");
    -fx-background-size: contain;
    -fx-background-position: top center;
    -fx-background-repeat: no-repeat;
}

.system {
    -fx-background-image: url("images/cog.png");
    -fx-background-size: contain;
    -fx-background-position: top center;
    -fx-background-repeat: no-repeat;
}

.download {
    -fx-background-image: url("images/download.png");
    -fx-background-size: contain;
    -fx-background-position: top center;
    -fx-background-repeat: no-repeat;
}

.play {
    -fx-background-image: url("images/play.png");
    -fx-background-size: contain;
    -fx-background-position: top center;
    -fx-background-repeat: no-repeat;
}

.scroll-pane{
   -fx-background-color:transparent;
}

.scroll-pane > .viewport {  //not .scrollpane but .scroll-pane
   -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar:horizontal {
   -fx-background-color: rgba(125, 139, 157, 0.05);
   -fx-background-radius: 50px;
}

.scroll-pane > .scroll-bar:horizontal > .thumb {
   -fx-background-color: rgb(107, 101, 107);
}

.scroll-pane > .scroll-bar:horizontal > .thumb:hover {
   -fx-background-color: #e55249;
}