@font-face {
    src: url("Poppins-Medium.ttf"),
}
* {
   -fx-font-family: 'Poppins Medium';
}

.textWhite {
    -fx-text-fill: #e7e5e4;
}

.px18 {
    -fx-font-size: 18;
}

.px14 {
    -fx-font-size: 14;
}

.px36 {
    -fx-font-size: 36;
}

.menuButton{
    -fx-background-color:  transparent;
    -fx-background-radius: 50px;
    -fx-padding: 4px 8px 4px 8px;
    -fx-font-size: 24px;
}
.menuButton:hover{
    -fx-background-color:  #242324;
    -fx-font-size: 24px;
}

.menuButton2{
    -fx-background-color:  transparent;
    -fx-background-radius: 50px;
    -fx-padding: 4px 8px 4px 8px;
    -fx-font-size: 16px;
}
.menuButton2:hover{
    -fx-background-color:  #242324;
    -fx-font-size: 16px;
}

.strandedAwayIcon {
    -fx-background-image: url("images/gameIcons/StrandedAwayIcon.png");
    -fx-background-size: cover, auto;
    -fx-background-position: center center;
    -fx-opacity: 0.5;
}

.strandedAwayIconSelected {
    -fx-background-image: url("images/gameIcons/StrandedAwayIconOutline.png");
    -fx-opacity: 1;
}

.strandedAwayIcon:hover {
    -fx-opacity: 1;
}

.dogeIcon {
    -fx-background-image: url("images/gameIcons/DogeIcon.png");
    -fx-background-size: cover, auto;
    -fx-background-position: center center;
    -fx-opacity: 0.5;
}

.dogeIconSelected {
    -fx-background-image: url("images/gameIcons/DogeIconOutline.png");
    -fx-opacity: 1;
}

.dogeIcon:hover {
    -fx-opacity: 1;
}

.gameCover {
    -fx-background-image: url("images/carousel/1.png");
    -fx-background-size: cover, auto;
    -fx-background-position: center center;
}

.gameTitle {
    -fx-background-image: url("images/gameTitles/StrandedAwayTitle.png");
    -fx-background-size: contain;
    -fx-background-position: top center;
    -fx-background-repeat: no-repeat;
}

.fadeCover {
    -fx-background-color:
        linear-gradient(to bottom,
        transparent,
        #0f1119 75%,
        #0f1119
    );
}

.trophieLabel {
    -fx-background-color: #EA4E46;
    -fx-background-radius: 16px;
}

.rating {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 16px;
}

.ratingT {
    -fx-background-image: url("images/ratings/t.png");
    -fx-background-size: contain;
    -fx-background-position: top center;
    -fx-background-repeat: no-repeat;
}
.ratingT {
    -fx-background-image: url("images/ratings/t.png");
    -fx-background-size: contain;
    -fx-background-position: top center;
    -fx-background-repeat: no-repeat;
}

.ratingE {
    -fx-background-image: url("images/ratings/e.png");
    -fx-background-size: contain;
    -fx-background-position: top center;
    -fx-background-repeat: no-repeat;
}

.system {
    -fx-background-image: url("images/cog.png");
    -fx-background-size: contain;
    -fx-background-position: top center;
    -fx-background-repeat: no-repeat;
}

.download {
    -fx-background-image: url("images/download.png");
    -fx-background-size: contain;
    -fx-background-position: top center;
    -fx-background-repeat: no-repeat;
}

.play {
    -fx-background-image: url("images/play.png");
     -fx-background-size: contain;
     -fx-background-position: top center;
     -fx-background-repeat: no-repeat;
}

.scroll-pane, .scroll-pane > .corner{
   -fx-background-color:transparent;
}

.scroll-pane > .viewport {  //not .scrollpane but .scroll-pane
   -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar:horizontal, .scroll-bar:vertical{
   -fx-background-color: rgba(125, 139, 157, 0.05);
   -fx-background-radius: 50px;
}

.scroll-pane > .scroll-bar:horizontal > .thumb, .scroll-bar:vertical > .thumb {
   -fx-background-color: rgb(107, 101, 107);
}

.scroll-pane > .scroll-bar:horizontal > .thumb:hover, .scroll-bar:vertical > .thumb:hover {
   -fx-background-color: #e55249;
}

.textArea {
    -fx-highlight-fill: red;
    -fx-highlight-text-fill: red;
    -fx-prompt-text-fill: red;
}

.split-pane .split-pane-divider {
    -fx-opacity: 0;
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
.images-gameCovers-StrandedAway {
    -fx-background-image: url("images/gameCovers/StrandedAwayCover.png");
}
.images-gameCovers-Doge {
    -fx-background-image: url("images/gameCovers/DogeCover.png");
}
.images-gameTitles-StrandedAway {
    -fx-background-image: url("images/gameTitles/StrandedAwayTitle.png");
}
.images-gameTitles-Doge {
    -fx-background-image: url("images/gameTitles/DogeTitle.png");
}

.trophie-Abyss {
    -fx-background-image: url("images/trophies/Abyss.png");
}
.trophie-Abyss:hover {
    -fx-background-image: url("images/trophies/Abyss_outline.png");
}

.trophie-BabySteps {
    -fx-background-image: url("images/trophies/BabySteps.png");
}
.trophie-BabySteps:hover {
    -fx-background-image: url("images/trophies/BabySteps_outline.png");
}

.trophie-Beginning {
    -fx-background-image: url("images/trophies/Beginning.png");
}
.trophie-Beginning:hover {
    -fx-background-image: url("images/trophies/Beginning_outline.png");
}

.trophie-Bolt {
    -fx-background-image: url("images/trophies/Bolt.png");
}
.trophie-Bolt:hover {
    -fx-background-image: url("images/trophies/Bolt_outline.png");
}

.trophie-Celestial {
    -fx-background-image: url("images/trophies/Celestial.png");
}
.trophie-Celestial:hover {
    -fx-background-image: url("images/trophies/Celestial_outline.png");
}

.trophie-ConfusingEscape {
    -fx-background-image: url("images/trophies/ConfusingEscape.png");
}
.trophie-ConfusingEscape:hover {
    -fx-background-image: url("images/trophies/ConfusingEscape_outline.png");
}

.trophie-Dedication {
    -fx-background-image: url("images/trophies/Dedication.png");
}
.trophie-Dedication:hover {
    -fx-background-image: url("images/trophies/Dedication_outline.png");
}

.trophie-Doom {
    -fx-background-image: url("images/trophies/Doom.png");
}
.trophie-Doom:hover {
    -fx-background-image: url("images/trophies/Doom_outline.png");
}

.trophie-DownwardSpiral {
    -fx-background-image: url("images/trophies/DownwardSpiral.png");
}
.trophie-DownwardSpiral:hover {
    -fx-background-image: url("images/trophies/DownwardSpiral_outline.png");
}

.trophie-Exploration {
    -fx-background-image: url("images/trophies/Exploration.png");
}
.trophie-Exploration:hover {
    -fx-background-image: url("images/trophies/Exploration_outline.png");
}

.trophie-Exploration {
    -fx-background-image: url("images/trophies/Exploration.png");
}
.trophie-Exploration:hover {
    -fx-background-image: url("images/trophies/Exploration_outline.png");
}

.trophie-Halfwaythere {
    -fx-background-image: url("images/trophies/Halfwaythere.png");
}
.trophie-Halfwaythere:hover {
    -fx-background-image: url("images/trophies/Halfwaythere_outline.png");
}

.trophie-Hastalavista {
    -fx-background-image: url("images/trophies/Hastalavista.png");
}
.trophie-Hastalavista:hover {
    -fx-background-image: url("images/trophies/Hastalavista_outline.png");
}

.trophie-hidden_trophy {
    -fx-background-image: url("images/trophies/hidden_trophy.png");
}
.trophie-hidden_trophy:hover {
    -fx-background-image: url("images/trophies/hidden_trophy_outline.png");
}

.trophie-Higher {
    -fx-background-image: url("images/trophies/Higher.png");
}
.trophie-Higher:hover {
    -fx-background-image: url("images/trophies/Higher_outline.png");
}

.trophie-Home {
    -fx-background-image: url("images/trophies/Home.png");
}
.trophie-Home:hover {
    -fx-background-image: url("images/trophies/Home_outline.png");
}

.trophie-KingofJumping {
    -fx-background-image: url("images/trophies/KingofJumping.png");
}
.trophie-KingofJumping:hover {
    -fx-background-image: url("images/trophies/KingofJumping_outline.png");
}

.trophie-Light {
    -fx-background-image: url("images/trophies/Light.png");
}
.trophie-Light:hover {
    -fx-background-image: url("images/trophies/Light_outline.png");
}

.trophie-Masterclock {
    -fx-background-image: url("images/trophies/Masterclock.png");
}
.trophie-Masterclock:hover {
    -fx-background-image: url("images/trophies/Masterclock_outline.png");
}

.trophie-Monopoly {
    -fx-background-image: url("images/trophies/Monopoly.png");
}
.trophie-Monopoly:hover {
    -fx-background-image: url("images/trophies/Monopoly_outline.png");
}

.trophie-Neverending {
    -fx-background-image: url("images/trophies/Neverending.png");
}
.trophie-Neverending:hover {
    -fx-background-image: url("images/trophies/Neverending_outline.png");
}

.trophie-NotEnoughBoxes {
    -fx-background-image: url("images/trophies/NotEnoughBoxes.png");
}
.trophie-NotEnoughBoxes:hover {
    -fx-background-image: url("images/trophies/NotEnoughBoxes_outline.png");
}

.trophie-OHKO {
    -fx-background-image: url("images/trophies/OHKO.png");
}
.trophie-OHKO:hover {
    -fx-background-image: url("images/trophies/OHKO_outline.png");
}

.trophie-Papersplease {
    -fx-background-image: url("images/trophies/Papersplease.png");
}
.trophie-Papersplease:hover {
    -fx-background-image: url("images/trophies/Papersplease_outline.png");
}

.trophie-Unoreverse {
    -fx-background-image: url("images/trophies/Unoreverse.png");
}
.trophie-Unoreverse:hover {
    -fx-background-image: url("images/trophies/Unoreverse_outline.png");
}